.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  top: 5%;
  z-index: 25;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80%;
  max-height: 80%;
  background-color: white;
  border-radius: 16px;
  padding: 50px;
}

.contQuest {
  width: 95%;
  border-radius: 16px;
  margin-bottom: 10px;
  padding: 25px;
}

.sideBar {
  width: 20%;
  height: 100%;
  margin-left: 25px;
}

.quests {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.options {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

.options p {
  padding-left: 5px;
  width: 80%;
}

.optionButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.optionButton:hover {
  background-color: #ebe5e5;
}

.send {
  width: 175px;
  height: 60px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

.send:hover {
  filter: brightness(120%);
  transform: scale(1.02);
}

.results{
  margin-top: 10px;
}






.quests::-webkit-scrollbar {
  width: 14px;
}

.quests::-webkit-scrollbar-track {
  background: rgb(209, 209, 209);
}

.quests::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
  cursor: pointer;
}

.asd{
  top: 0;
  width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	position: fixed;
	background-color: #5757578c;
}